body {
  margin: 0;
  font-family: "Alata", sans-serif;

  background-color: #e6e4df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card{
  border-radius: 30px;
}
      
.card-text{
  display: none;
} */

.SignInFormaimg{
  margin-top: 100px;
}

.researchTitle{
  color: #8b3c19;
  padding: 1rem 1rem 1rem 1rem;
}

.topnav {
  overflow: hidden;
  background-color: #b6371a;
}

.topnav a {
  float: left;
  color: #f3f3f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d5682a;
  color: #f2ede0;
}

.topnav a.active {
  background-color: #f5993a;
  color: white;
}

.aside a {
  text-decoration: none;
  color: #f2ede0;
}

.cards_container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 5rem;
  padding: 1rem 5rem 5rem 5rem;
  align-items: stretch;
}

.cards_content {
  width: auto;
  height: auto;
  align-items: stretch;
}

.gridable {
  align-items: stretch;
  display: contents;
}


.gridable img{
  object-fit: contain;
  width: 100%;
  height: 300px;
}

.cards_content:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.5);
  transform: scale(1.02);
  cursor: pointer;
}

.fitHomePage {
  height: 300px;
  object-fit: cover;
}

.priceProductCard{
  font-size: 30px;
}

.SignInFormaimg {
  margin-top: 100px;
}
.product-list{
  text-align: center;
  margin: top 50px;
}
.product-list ul{
  margin:0px
}
.product-list ul li {
  display:inline-block;
  width:150px;
  border:1px solid rgb(228, 114, 7);
  padding:5px;
  background-color: white;
}

.AboutUsChair {
  size: 100px;
}

.footer {
  color: #f2ede0;
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(0.25turn,#8b3c19, #b55822, #df742b);
  height: 6rem;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto 0;
}

.btn {
  color: #8b3c19;
  border: 1px solid #8b3c19 !important;
}

.btn-outline-success {
  --bs-btn-color: #8b3c19;
  --bs-btn-border-color: #8b3c19;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8b3c19;
  --bs-btn-hover-border-color: #8b3c19;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8b3c19;
  --bs-btn-active-border-color: #8b3c19;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #8b3c19;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8b3c19;
  --bs-gradient: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #8b3c19;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8b3c19;
  --bs-btn-hover-border-color: #8b3c19;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8b3c19;
  --bs-btn-active-border-color: #8b3c19;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #8b3c19;
  --bs-btn-disabled-border-color: #8b3c19;
}

.logo {
  height: 30px;
}

.radius{
  border-radius: 30px;
}

.signInContent {
  width: 250px;
  height: 310px;
  align-items: center;
  justify-content: center;
  top: 30vh;
  left: 30vh;
  border: 5px solid #8b3c19;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.text-justify {
  text-align: justify;
}
