body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2ede0;
}

.topnav {
  overflow: hidden;
  background-color: #b6371a;
}

.topnav a {
  float: left;
  color: #f2ede0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d5682a;
  color: #f2ede0;
}

.topnav a.active {
  background-color: #f5993a;
  color: white;
}

.aside {
  display:flex;
  flex-direction: column;
  background-color: #b6371a;
  color: #f2ede0;
  width: 6rem;
  height: 1000px;

}

.aside a {
  text-decoration: none;
  color: #f2ede0;
}









